@model IEnumerable<Mobile_ecommerce.Models.EF.Product>
@{
    <link href="~/Asset/Client/css/partialView.css" rel="stylesheet" />
    var price = @ViewBag.price;
}
<div class="row g-1">
    @foreach (var item in Model)
    {
    <div class="card col-sm-6 col-md-3 col-lg-3 border-0">

        <a href="@Url.Action("Details", "Product", new { id=item.ProductID })">
            <img class="card-img-top" style="height:250px"
                 src="@item.Images" alt="Card image">
        </a>
        <div class="card-body">
            <h5 class="card-title">@item.ProductName</h5>
            <p class="card-text">@price</p>
        </div>
        <a class="btn order" href="/ShoppingCart/AddtoCart/@item.ProductID">Đặt ngay</a>
    </div>
    }
</div>

